<!DOCTYPE html>
<html>
<head>
  <title>style guide</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span> Enter a valid email address</div>
<script>if (window.parent.document !== window.document) window.parent.document.getElementById(location.hash.substr(1)).style.height = document.body.scrollHeight + 'px';</script>
</body>
</html>