div(class="dropdown clearfix open")
  button(class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
    | Dropdown
    span(class="caret")
  ul(class="dropdown-menu" aria-labelledby="dropdownMenu4")
    li: a(href="#") Regular link
    li(class="disabled"): a(href="#") Disabled link
    li: a(href="#") Another link