div(class="dropdown open")
  button(class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
    | Dropdown
    span(class="caret")
  ul(class="dropdown-menu" aria-labelledby="dropdownMenu1")
    li: a(href="#") Action
    li: a(href="#") Another action
    li: a(href="#") Something else here
    li(role="separator" class="divider")
    li: a(href="#") Separated link