div(class="dropdown clearfix open")
  button(class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
    | Dropdown
    span(class="caret")
  ul(class="dropdown-menu" aria-labelledby="dropdownMenu3")
    li(class="dropdown-header") Dropdown header
    li: a(href="#") Action
    li: a(href="#") Another action
    li: a(href="#") Something else here
    li(class="dropdown-header") Dropdown header
    li: a(href="#") Separated link